# MARQUEE_PROVIDER_MODE=flat
MARQUEE_PROVIDER_MODE=openai-subscription
# MARQUEE_PROVIDER_MODE=api

OPENCODE_API_KEY=
# SERPAPI_KEY=
TAVILY_API_KEY=

# SZERVER CONFIG
DATA_DIR=/home/balazs/.marquee
WEB_ROOT=/opt/marquee/packages/web/dist

PORT=7892
MARQUEE_API_TOKEN=
N8N_WEBHOOK_URL=
